@tailwind base;
@tailwind components;
@tailwind utilities;

.theme-custom {
  /* Name: custom color palette
     Author: Ilias Ism
     URL: https://gradient.page */

  /* CSS: .bg-gradient { background: var(--gradient) } */
  --gradient: #008044;
  --background: 161 100% 98.5%;
  --foreground: 161 10% 1%;

  --muted: 161 10% 92.5%;
  --muted-foreground: 161 5% 42.5%;

  --popover: 161 10% 92.5%;
  --popover-foreground: 161 10% 1.25%;

  --card: 161 10% 92.5%;
  --card-foreground: 161 10% 1.25%;

  --border: 161 15% 90%;
  --input: 161 15% 90%;

  --primary: 161 100% 25%;
  --primary-foreground: 161 2% 92.5%;

  --secondary: 161 5% 96.25%;
  --secondary-foreground: 161 7% 12.5%;

  --accent: 161 5% 96.25%;
  --accent-foreground: 161 7% 12.5%;

  --destructive: 0 84.2% 60.2%;
  --destructive-foreground: 0 0% 98%;

  --ring: 161 100% 25%;

  --radius: 0.5rem;
}


@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

html,
body,
:root {
  height: 100%;
}
